:root {
    --mdc-theme-primary: #1c313a;
    --mdc-theme-secondary: #ffca28;

    --mdc-theme-on-primary: white;
    
    --mdc-theme-primary-light: #718792;

    --mdc-theme--surface: #e1e2e1;
    --mdc-theme-background: #455a64;
}

html body {
    margin: 0;
    padding: 0;
    background-color: var(--mdc-theme-background);
}

div.calculator-container {
    text-align: center;
    margin-top: 30px;
}

div.calculator, div.keyboard {
    width: auto;
    display: inline-block;
}

div.calculator-display {
    display: inline-block;
    text-align: left;
    width: 100%;
    height: 60px;
    margin-bottom: 20px;
    background-color: var(--mdc-theme-primary-light);
    color: var(--mdc-theme-on-primary);
}

.calculator-button {
    width: 80px;
    min-width: 80px;
    height: 60px;
    min-height: 60px;
    
    margin: 3px 1px;
}

.calculator-button div.button-container {
    display: block !important;
    width: 100%;
    line-height: 9px;
}

.calculator-button div.button-container div {
    display: block !important;
    border: 0;
    padding: 0;
}

.primary-text {
    color: white;
    font-size: 20px;
}

.secondary-text {
    color: var(--mdc-theme-secondary);
    font-size: 10px;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}
