@page "/"
@using TenBii.WebApp.Business

<div class="calculator-container">
    <div class="calculator">
        <div class="calculator-display">
            SOME TEXT
        </div>
        <div class="keyboard">
            @{
                var buttons = new ButtonsCollection();

                var i = 0;

                foreach (var button in buttons)
                {
                    <CalculatorButton PrimaryText="@button.PrimaryText"
                        SecondaryText="@button.SecondaryText"
                        TertiaryText="@button.TertiaryText"></CalculatorButton>
                    
                    
                    i++;

                    if (i == 5)
                    {
                        <br />
                        i = 0;
                    }
                }
            }
        </div>
    </div>
</div>
